body {
  min-width: 357px;
  min-height: 500px;
  overflow-x: hidden;
  padding: 10px 40px 10px 40px;
  background-color: red;
  /* background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
  border: 1px solid Red;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  color: red;
  text-align: left;
}
.settings {
  text-align: left;
  height: 20px;
  width: 20px;
}
#right {
  text-align: right;
  padding-left: 270px;
  padding-top: 150px;
}
/* .card {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
/* } */
